hack/contrib/docker/chaos/plugins/lib/wsdl/Diagnose_1_0.wsdl

<?xml version="1.0" ?>

<!--
    Copyright (c) 2005-2014 Zeus Technology. All rights reserved.

-->

<definitions name="Diagnose"
 targetNamespace="http://soap.zeus.com/zxtm/1.0/"
 xmlns:zeusns="http://soap.zeus.com/zxtm/1.0/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">
   
   <types>
      <xsd:schema targetNamespace='http://soap.zeus.com/zxtm/1.0/'
       xmlns='http://www.w3.org/2001/XMLSchema'
       xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
       xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
         
         <xsd:complexType name="Diagnose.AgeError">
           <xsd:annotation>
             <xsd:documentation>This structure combines an error message with its age in seconds</xsd:documentation>
           </xsd:annotation>
           <xsd:all>
             <xsd:element name="age" type="xsd:int">
               <xsd:annotation>
                 <xsd:documentation>Seconds since the error occurred</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="error" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>error message</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
           </xsd:all>
         </xsd:complexType>
         
         <xsd:complexType name="Diagnose.AgeErrorArray">
           <xsd:complexContent>
             <xsd:restriction base="SOAP-ENC:Array">
               <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="zeusns:Diagnose.AgeError[]"/>
             </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="Diagnose.ConfigError">
           <xsd:annotation>
             <xsd:documentation>
               This structure contains information about configuration errors.
             </xsd:documentation>
           </xsd:annotation>
         
           <xsd:all>
         
             <xsd:element name="filename" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>The file where the error has occurred.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="ConfigKey" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>The faulty configuration key</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="severity" type="zeusns:Diagnose.ErrLevel">
               <xsd:annotation>
                 <xsd:documentation>Severity of the error</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="DetectionDate" type="xsd:dateTime">
               <xsd:annotation>
                 <xsd:documentation>Date when the error occurred</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="description" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>A human readable description of the error</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
           </xsd:all>
         
         </xsd:complexType>
         
         <xsd:complexType name="Diagnose.ConfigErrorArray">
           <xsd:complexContent>
             <xsd:restriction base="SOAP-ENC:Array">
               <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="zeusns:Diagnose.ConfigError[]"/>
             </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:simpleType name="Diagnose.ErrLevel">
           <xsd:annotation>
             <xsd:documentation>This enumeration defines the possible severity levels of an error.</xsd:documentation>
           </xsd:annotation>
           <xsd:restriction base="xsd:string">
         
             <xsd:enumeration value="ERR_UNDEF">
               <xsd:annotation>
                 <xsd:documentation>An error of undefined or unknown severity.</xsd:documentation>
               </xsd:annotation>
             </xsd:enumeration>
         
             <xsd:enumeration value="ERR_FATAL">
               <xsd:annotation>
                 <xsd:documentation>A fatal error, causes program to die/crash/fail to startup.</xsd:documentation>
               </xsd:annotation>
             </xsd:enumeration>
         
             <xsd:enumeration value="ERR_SERIOUS">
               <xsd:annotation>
                 <xsd:documentation>A serious, unexpected error that shouldn't occur under normal conditions.  Conditions which will prevent the server from operating properly and should be brought to the webmaster's attention immediately</xsd:documentation>
               </xsd:annotation>
             </xsd:enumeration>
         
             <xsd:enumeration value="ERR_DOS">
               <xsd:annotation>
                 <xsd:documentation>Denial of service warning message.</xsd:documentation>
               </xsd:annotation>
             </xsd:enumeration>
         
             <xsd:enumeration value="ERR_SSL">
               <xsd:annotation>
                 <xsd:documentation>A read-error from an ssl-enabled socket.</xsd:documentation>
               </xsd:annotation>
             </xsd:enumeration>
         
             <xsd:enumeration value="ERR_WARN">
               <xsd:annotation>
                 <xsd:documentation>something which should be brought to the attention of the webmaster, but not immediately.</xsd:documentation>
               </xsd:annotation>
             </xsd:enumeration>
         
             <xsd:enumeration value="ERR_INFO">
               <xsd:annotation>
                 <xsd:documentation>Minor things that might be of interest e.g. access denied.</xsd:documentation>
               </xsd:annotation>
             </xsd:enumeration>
         
           </xsd:restriction>
         </xsd:simpleType>
         
         <xsd:complexType name="Diagnose.ErrorInfo">
           <xsd:annotation>
             <xsd:documentation>This structure combines configuration, node, and flipper errors as well as a list of statuses (for an appliance).</xsd:documentation>
           </xsd:annotation>
           <xsd:all>
         
             <xsd:element name="NotReachableTrafficManagers" type="zeusns:StringArray">
               <xsd:annotation>
                 <xsd:documentation>The list of traffic managers that could not be contacted.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="ConfigErrors" type="zeusns:Diagnose.ConfigErrorArray">
               <xsd:annotation>
                 <xsd:documentation>The list of configuration errors.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="FlipperErrors" type="zeusns:Diagnose.FlipperErrorArray">
               <xsd:annotation>
                 <xsd:documentation>The list of flipper errors.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="FailedNodes" type="zeusns:Diagnose.FailedNodeArray">
               <xsd:annotation>
                 <xsd:documentation>The list of failed nodes.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="SystemStatuses" type="zeusns:Diagnose.SystemStatusArray">
               <xsd:annotation>
                 <xsd:documentation>The list of system status values.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
           </xsd:all>
         </xsd:complexType>
         
         <xsd:complexType name="Diagnose.FailedNode">
           <xsd:annotation>
             <xsd:documentation>
               This structure contains information about Flipper errors.
             </xsd:documentation>
           </xsd:annotation>
         
           <xsd:all>
         
             <xsd:element name="node" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>The name of the node that has failed.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="IpAddress" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>IP address in dotted-decimal notation.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="port" type="xsd:int">
               <xsd:annotation>
                 <xsd:documentation>The port number of the node that has failed.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="NoResponseFor" type="xsd:int">
               <xsd:annotation>
                 <xsd:documentation>Number of seconds during which the node has not responded</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="NoRequestsFor" type="xsd:int">
               <xsd:annotation>
                 <xsd:documentation>The minimum time in seconds before traffic will be sent to this node</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="ErrorMessage" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>The last received error message.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
           </xsd:all>
         </xsd:complexType>
         
         <xsd:complexType name="Diagnose.FailedNodeArray">
           <xsd:complexContent>
             <xsd:restriction base="SOAP-ENC:Array">
               <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="zeusns:Diagnose.FailedNode[]"/>
             </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="Diagnose.FlipperError">
           <xsd:annotation>
             <xsd:documentation>
               This structure contains information about Flipper errors.
             </xsd:documentation>
           </xsd:annotation>
         
           <xsd:all>
         
             <xsd:element name="machine" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>The name of the affected machine.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="IpAddress" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>IP address in dotted-decimal notation.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="errors" type="zeusns:Diagnose.AgeErrorArray">
               <xsd:annotation>
                 <xsd:documentation>All error messages for that machine.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
           </xsd:all>
         </xsd:complexType>
         
         <xsd:complexType name="Diagnose.FlipperErrorArray">
           <xsd:complexContent>
             <xsd:restriction base="SOAP-ENC:Array">
               <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="zeusns:Diagnose.FlipperError[]"/>
             </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="Diagnose.SystemStatus">
           <xsd:annotation>
             <xsd:documentation>Status information about the hardware in an appliance is reported by instances of this structure.</xsd:documentation>
           </xsd:annotation>
         
           <xsd:all>
         
             <xsd:element name="component" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>The component this object refers to</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="severity" type="zeusns:Diagnose.ErrLevel">
               <xsd:annotation>
                 <xsd:documentation>The severity level</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="message" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>Human-readable description of the status</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
           </xsd:all>
         </xsd:complexType>
         
         <xsd:complexType name="Diagnose.SystemStatusArray">
           <xsd:complexContent>
             <xsd:restriction base="SOAP-ENC:Array">
               <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="zeusns:Diagnose.SystemStatus[]"/>
             </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="StringArray">
           <xsd:complexContent>
             <xsd:restriction base='SOAP-ENC:Array'>
              <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="StringArrayArray">
           <xsd:complexContent>
            <xsd:restriction base='SOAP-ENC:Array'>
             <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType="zeusns:StringArray[]"/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="booleanArray">
           <xsd:complexContent>
            <xsd:restriction base='SOAP-ENC:Array'>
             <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:boolean[]'/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="booleanArrayArray">
           <xsd:complexContent>
            <xsd:restriction base='SOAP-ENC:Array'>
             <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType="zeusns:booleanArray[]"/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         
         <xsd:complexType name="doubleArray">
           <xsd:complexContent>
            <xsd:restriction base='SOAP-ENC:Array'>
             <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:double[]'/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="intArray">
           <xsd:complexContent>
            <xsd:restriction base='SOAP-ENC:Array'>
             <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:int[]'/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="longArray">
           <xsd:complexContent>
            <xsd:restriction base='SOAP-ENC:Array'>
             <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:long[]'/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="unsignedIntArray">
           <xsd:complexContent>
            <xsd:restriction base='SOAP-ENC:Array'>
             <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:unsignedInt[]'/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="unsignedLongArray">
           <xsd:complexContent>
            <xsd:restriction base='SOAP-ENC:Array'>
             <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:unsignedLong[]'/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
      </xsd:schema>
   </types>
   
   <message name="diagnoseSystemRequest">
      <part name="severity" type="zeusns:Diagnose.ErrLevel" />
   </message>
   
   <message name="diagnoseSystemResponse">
      <part name="error_info" type="zeusns:Diagnose.ErrorInfo" />
   </message>
   
   <portType name="DiagnosePort">
      <operation name="diagnoseSystem">
         <documentation>
            Provides diagnostic information about the system. Only errors with severity higher than or equal to the specified severity will be reported.
         </documentation>
         
         <input message="zeusns:diagnoseSystemRequest"/>
         <output message="zeusns:diagnoseSystemResponse"/>
      </operation>
   </portType>
   
   <binding name="DiagnoseBinding" type="zeusns:DiagnosePort">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="diagnoseSystem">
         <soap:operation soapAction="http://soap.zeus.com/zxtm/1.0/Diagnose/diagnoseSystem"/>
         <documentation>
            Provides diagnostic information about the system. Only errors with severity higher than or equal to the specified severity will be reported.
         </documentation>
         
         <input>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/Diagnose/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/Diagnose/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
   </binding>
   
   <service name="Diagnose">
      <documentation>
         The Diagnose interface provides information about errors and problems in the system.
      </documentation>
      
      <port name="DiagnosePort" binding="zeusns:DiagnoseBinding">
         <soap:address location="https://admin_server:9090/soap"/>
      </port>
   </service>
   
</definitions>
