hack/contrib/docker/chaos/plugins/lib/wsdl/Diagnose.wsdl

<?xml version="1.0" ?>

<!--
    Copyright (c) 2005-2014 Zeus Technology. All rights reserved.

-->

<definitions name="Diagnose"
 targetNamespace="http://soap.zeus.com/zxtm/1.1/"
 xmlns:zeusns_1_1="http://soap.zeus.com/zxtm/1.1/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">
   
   <types>
      <xsd:schema targetNamespace='http://soap.zeus.com/zxtm/1.1/'
       xmlns='http://www.w3.org/2001/XMLSchema'
       xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
       xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
         
         <xsd:complexType name="Diagnose.AgeError">
           <xsd:annotation>
             <xsd:documentation>This structure combines an error message with its age in seconds</xsd:documentation>
           </xsd:annotation>
           <xsd:all>
             <xsd:element name="age" type="xsd:int">
               <xsd:annotation>
                 <xsd:documentation>Seconds since the error occurred</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="error" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>error message</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
           </xsd:all>
         </xsd:complexType>
         
         <xsd:complexType name="Diagnose.AgeErrorArray">
           <xsd:complexContent>
             <xsd:restriction base="SOAP-ENC:Array">
               <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="zeusns_1_1:Diagnose.AgeError[]"/>
             </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="Diagnose.ConfigError">
           <xsd:annotation>
             <xsd:documentation>
               This structure contains information about configuration errors.
             </xsd:documentation>
           </xsd:annotation>
         
           <xsd:all>
         
             <xsd:element name="filename" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>The file where the error has occurred.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="ConfigKey" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>The faulty configuration key</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="severity" type="zeusns_1_1:Diagnose.ErrLevel">
               <xsd:annotation>
                 <xsd:documentation>Severity of the error</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="DetectionDate" type="xsd:dateTime">
               <xsd:annotation>
                 <xsd:documentation>Date when the error occurred</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="description" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>A human readable description of the error</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
           </xsd:all>
         
         </xsd:complexType>
         
         <xsd:complexType name="Diagnose.ConfigErrorArray">
           <xsd:complexContent>
             <xsd:restriction base="SOAP-ENC:Array">
               <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="zeusns_1_1:Diagnose.ConfigError[]"/>
             </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:simpleType name="Diagnose.ErrLevel">
           <xsd:annotation>
             <xsd:documentation>This enumeration defines the possible severity levels of an error.</xsd:documentation>
           </xsd:annotation>
           <xsd:restriction base="xsd:string">
         
             <xsd:enumeration value="ERR_FATAL">
               <xsd:annotation>
                 <xsd:documentation>A fatal error, causes program to die/crash/fail to startup.</xsd:documentation>
               </xsd:annotation>
             </xsd:enumeration>
         
             <xsd:enumeration value="ERR_SERIOUS">
               <xsd:annotation>
                 <xsd:documentation>A serious, unexpected error that shouldn't occur under normal conditions.  Conditions which will prevent the server from operating properly and should be brought to the webmaster's attention immediately</xsd:documentation>
               </xsd:annotation>
             </xsd:enumeration>
         
             <xsd:enumeration value="ERR_WARN">
               <xsd:annotation>
                 <xsd:documentation>something which should be brought to the attention of the webmaster, but not immediately.</xsd:documentation>
               </xsd:annotation>
             </xsd:enumeration>
         
             <xsd:enumeration value="ERR_INFO">
               <xsd:annotation>
                 <xsd:documentation>Minor things that might be of interest e.g. access denied.</xsd:documentation>
               </xsd:annotation>
             </xsd:enumeration>
         
           </xsd:restriction>
         </xsd:simpleType>
         
         <xsd:complexType name="Diagnose.ErrorInfo">
           <xsd:annotation>
             <xsd:documentation>This structure combines configuration, node, and flipper errors as well as a list of statuses (for an appliance).</xsd:documentation>
           </xsd:annotation>
           <xsd:all>
         
             <xsd:element name="NotReachableTrafficManagers" type="zeusns_1_1:StringArray">
               <xsd:annotation>
                 <xsd:documentation>The list of traffic managers that could not be contacted.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="ConfigErrors" type="zeusns_1_1:Diagnose.ConfigErrorArray">
               <xsd:annotation>
                 <xsd:documentation>The list of configuration errors.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="FlipperErrors" type="zeusns_1_1:Diagnose.FlipperErrorArray">
               <xsd:annotation>
                 <xsd:documentation>The list of flipper errors.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="FailedNodes" type="zeusns_1_1:Diagnose.FailedNodeArray">
               <xsd:annotation>
                 <xsd:documentation>The list of failed nodes.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="SystemStatuses" type="zeusns_1_1:Diagnose.SystemStatusArray">
               <xsd:annotation>
                 <xsd:documentation>The list of system status values.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
           </xsd:all>
         </xsd:complexType>
         
         <xsd:complexType name="Diagnose.FailedNode">
           <xsd:annotation>
             <xsd:documentation>
               This structure contains information about node failures.
             </xsd:documentation>
           </xsd:annotation>
         
           <xsd:all>
         
             <xsd:element name="node" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>The name of the node that has failed.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="IPAddress" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>IP address in standard IPv4 or IPv6 notation.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="port" type="xsd:int">
               <xsd:annotation>
                 <xsd:documentation>The port number of the node that has failed.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="pool" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>The pool in which this node exists.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="InitialFailureTime" type="xsd:dateTime">
               <xsd:annotation>
                 <xsd:documentation>Time that the failure first occurred.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="LastConnectionAttempt" type="xsd:dateTime">
               <xsd:annotation>
                 <xsd:documentation>The last time an attempt was made to connect to the node.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="ErrorMessage" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>The last received error message.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
           </xsd:all>
         </xsd:complexType>
         
         <xsd:complexType name="Diagnose.FailedNodeArray">
           <xsd:complexContent>
             <xsd:restriction base="SOAP-ENC:Array">
               <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="zeusns_1_1:Diagnose.FailedNode[]"/>
             </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="Diagnose.FlipperError">
           <xsd:annotation>
             <xsd:documentation>
               This structure contains information about Flipper errors.
             </xsd:documentation>
           </xsd:annotation>
         
           <xsd:all>
         
             <xsd:element name="machine" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>The name of the affected machine.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="IPAddress" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>IP address in standard IPv4 or IPv6 notation.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="errors" type="zeusns_1_1:Diagnose.AgeErrorArray">
               <xsd:annotation>
                 <xsd:documentation>All error messages for that machine.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
           </xsd:all>
         </xsd:complexType>
         
         <xsd:complexType name="Diagnose.FlipperErrorArray">
           <xsd:complexContent>
             <xsd:restriction base="SOAP-ENC:Array">
               <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="zeusns_1_1:Diagnose.FlipperError[]"/>
             </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="Diagnose.SystemStatus">
           <xsd:annotation>
             <xsd:documentation>Status information about the hardware in an appliance is reported by instances of this structure.</xsd:documentation>
           </xsd:annotation>
         
           <xsd:all>
         
             <xsd:element name="component" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>The component this object refers to</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="severity" type="zeusns_1_1:Diagnose.ErrLevel">
               <xsd:annotation>
                 <xsd:documentation>The severity level</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="message" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>Human-readable description of the status</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
           </xsd:all>
         </xsd:complexType>
         
         <xsd:complexType name="Diagnose.SystemStatusArray">
           <xsd:complexContent>
             <xsd:restriction base="SOAP-ENC:Array">
               <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="zeusns_1_1:Diagnose.SystemStatus[]"/>
             </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="StringArray">
           <xsd:complexContent>
             <xsd:restriction base='SOAP-ENC:Array'>
              <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="StringArrayArray">
           <xsd:complexContent>
            <xsd:restriction base='SOAP-ENC:Array'>
             <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType="zeusns_1_1:StringArray[]"/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="booleanArray">
           <xsd:complexContent>
            <xsd:restriction base='SOAP-ENC:Array'>
             <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:boolean[]'/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="booleanArrayArray">
           <xsd:complexContent>
            <xsd:restriction base='SOAP-ENC:Array'>
             <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType="zeusns_1_1:booleanArray[]"/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         
         <xsd:complexType name="doubleArray">
           <xsd:complexContent>
            <xsd:restriction base='SOAP-ENC:Array'>
             <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:double[]'/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="intArray">
           <xsd:complexContent>
            <xsd:restriction base='SOAP-ENC:Array'>
             <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:int[]'/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="longArray">
           <xsd:complexContent>
            <xsd:restriction base='SOAP-ENC:Array'>
             <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:long[]'/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="unsignedIntArray">
           <xsd:complexContent>
            <xsd:restriction base='SOAP-ENC:Array'>
             <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:unsignedInt[]'/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="unsignedLongArray">
           <xsd:complexContent>
            <xsd:restriction base='SOAP-ENC:Array'>
             <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:unsignedLong[]'/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="InvalidInput">
           <xsd:annotation>
            <xsd:documentation>
              The InvalidInput fault is raised when the input to a function is
              invalid, for example a number was out of range. This fault is also
              raised in cases such as VirtualServer.setPool() where the Pool
              doesn't exist
         
              The details in the fault contain the object, key and value
              that caused the fault. These might be blank if they are not relevant
              to the fault.
            </xsd:documentation>
           </xsd:annotation>
           <xsd:all>
             <xsd:element name="errmsg" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>
                  A human readable string describing the error
                </xsd:documentation>
              </xsd:annotation>
             </xsd:element>
             <xsd:element name="object" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>
                  The name of the object that caused the fault (if appropriate)
                </xsd:documentation>
              </xsd:annotation>
             </xsd:element>
             <xsd:element name="key" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>
                  The configuration key that caused the fault (if appropriate)
                </xsd:documentation>
              </xsd:annotation>
             </xsd:element>
             <xsd:element name="value" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>
                  The value that caused the fault (if appropriate)
                </xsd:documentation>
              </xsd:annotation>
             </xsd:element>
           </xsd:all>
         </xsd:complexType>
      </xsd:schema>
   </types>
   
   <message name="activateTrafficManagersRequest">
      <part name="hostnames" type="zeusns_1_1:StringArray" />
   </message>
   
   <message name="activateTrafficManagersResponse"></message>
   
   <message name="diagnoseSystemRequest"></message>
   
   <message name="diagnoseSystemResponse">
      <part name="error_info" type="zeusns_1_1:Diagnose.ErrorInfo" />
   </message>
   
   <message name="getInactiveTrafficManagersRequest"></message>
   
   <message name="getInactiveTrafficManagersResponse">
      <part name="hostnames" type="zeusns_1_1:StringArray" />
   </message>
   
   <message name="getTechnicalSupportReportRequest"></message>
   
   <message name="getTechnicalSupportReportResponse">
      <part name="report" type="xsd:base64Binary" />
   </message>
   
   <message name="InvalidInput">
      <part name="parameters" type="zeusns_1_1:InvalidInput" />
   </message>
   
   <portType name="DiagnosePort">
      <operation name="activateTrafficManagers">
         <documentation>
            Activate traffic managers that have recovered from failures and are ready to start taking Traffic IPs.
         </documentation>
         
         <input message="zeusns_1_1:activateTrafficManagersRequest"/>
         <output message="zeusns_1_1:activateTrafficManagersResponse"/>
         <fault name="InvalidInput" message="zeusns_1_1:InvalidInput"/>
      </operation>
      
      <operation name="diagnoseSystem">
         <documentation>
            Provides all diagnostic information about the system.
         </documentation>
         
         <input message="zeusns_1_1:diagnoseSystemRequest"/>
         <output message="zeusns_1_1:diagnoseSystemResponse"/>
      </operation>
      
      <operation name="getInactiveTrafficManagers">
         <documentation>
            List the traffic managers that have recovered from failures and are ready to start taking Traffic IPs.
         </documentation>
         
         <input message="zeusns_1_1:getInactiveTrafficManagersRequest"/>
         <output message="zeusns_1_1:getInactiveTrafficManagersResponse"/>
      </operation>
      
      <operation name="getTechnicalSupportReport">
         <documentation>
            Download a technical support report suitable for providing to your support provider to help diagnose problems.
         </documentation>
         
         <input message="zeusns_1_1:getTechnicalSupportReportRequest"/>
         <output message="zeusns_1_1:getTechnicalSupportReportResponse"/>
      </operation>
   </portType>
   
   <binding name="DiagnoseBinding" type="zeusns_1_1:DiagnosePort">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="activateTrafficManagers">
         <soap:operation soapAction="http://soap.zeus.com/zxtm/1.1/Diagnose/activateTrafficManagers"/>
         <documentation>
            Activate traffic managers that have recovered from failures and are ready to start taking Traffic IPs.
         </documentation>
         
         <input>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.1/Diagnose/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.1/Diagnose/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
         <fault name="InvalidInput">
            <soap:fault use="encoded" name="InvalidInput" namespace="http://soap.zeus.com/zxtm/1.1/Diagnose/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </fault>
      </operation>
      
      <operation name="diagnoseSystem">
         <soap:operation soapAction="http://soap.zeus.com/zxtm/1.1/Diagnose/diagnoseSystem"/>
         <documentation>
            Provides all diagnostic information about the system.
         </documentation>
         
         <input>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.1/Diagnose/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.1/Diagnose/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      
      <operation name="getInactiveTrafficManagers">
         <soap:operation soapAction="http://soap.zeus.com/zxtm/1.1/Diagnose/getInactiveTrafficManagers"/>
         <documentation>
            List the traffic managers that have recovered from failures and are ready to start taking Traffic IPs.
         </documentation>
         
         <input>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.1/Diagnose/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.1/Diagnose/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      
      <operation name="getTechnicalSupportReport">
         <soap:operation soapAction="http://soap.zeus.com/zxtm/1.1/Diagnose/getTechnicalSupportReport"/>
         <documentation>
            Download a technical support report suitable for providing to your support provider to help diagnose problems.
         </documentation>
         
         <input>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.1/Diagnose/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.1/Diagnose/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
   </binding>
   
   <service name="Diagnose">
      <documentation>
         The Diagnose interface provides information about errors and problems in the system.
      </documentation>
      
      <port name="DiagnosePort" binding="zeusns_1_1:DiagnoseBinding">
         <soap:address location="https://admin_server:9090/soap"/>
      </port>
   </service>
   
</definitions>
