hack/contrib/docker/chaos/plugins/lib/wsdl/System.Connections.wsdl

<?xml version="1.0" ?>

<!--
    Copyright (c) 2005-2014 Zeus Technology. All rights reserved.

-->

<definitions name="System.Connections"
 targetNamespace="http://soap.zeus.com/zxtm/1.0/"
 xmlns:zeusns="http://soap.zeus.com/zxtm/1.0/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">
   
   <types>
      <xsd:schema targetNamespace='http://soap.zeus.com/zxtm/1.0/'
       xmlns='http://www.w3.org/2001/XMLSchema'
       xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
       xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
         
         <xsd:complexType name="System.Connections.Connection">
           <xsd:annotation>
             <xsd:documentation>This structure contains the basic information about a Connection.
             It is used when retrieving the current and recent connections for a machine.</xsd:documentation>
           </xsd:annotation>
           <xsd:all>
             <xsd:element name="from" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>The source IP address and port for connection.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
             <xsd:element name="via" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>The local IP address and port for connection.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
             <xsd:element name="to" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>The destination node for the connection.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
             <xsd:element name="state" type="zeusns:System.Connections.ConnectionState">
               <xsd:annotation>
                 <xsd:documentation>The connection state.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
             <xsd:element name="vserver" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>The virtual server handling the request.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
             <xsd:element name="rule" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>The rule being executed.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
             <xsd:element name="pool" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>The pool being used.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
             <xsd:element name="bytes_in" type="xsd:int">
               <xsd:annotation>
                 <xsd:documentation>The number of bytes that were received from the client.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
             <xsd:element name="bytes_out" type="xsd:int">
               <xsd:annotation>
                 <xsd:documentation>The number of bytes that were sent to the client.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
             <xsd:element name="time_est" type="xsd:int">
               <xsd:annotation>
                 <xsd:documentation>The length of time that the connection has been established, in seconds.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
             <xsd:element name="time_client" type="xsd:int">
               <xsd:annotation>
                 <xsd:documentation>The length of time since receiving the last client data, in seconds.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
             <xsd:element name="time_server" type="xsd:int">
               <xsd:annotation>
                 <xsd:documentation>The length of time since receiving the last server data, in seconds.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
             <xsd:element name="retries" type="xsd:int">
               <xsd:annotation>
                 <xsd:documentation>The number of times that the connection to the node has been retried.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
             <xsd:element name="slm_class" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>The Service Level Monitoring class being used.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
             <xsd:element name="vs_bwclass" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>The Virtual Server Bandwidth class being used.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
             <xsd:element name="pool_bwclass" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>The Pool Bandwidth class being used.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
             <xsd:element name="code" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>The status code in the HTTP response.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
             <xsd:element name="request" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>The host header/URL in the HTTP request.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
            </xsd:all>
         </xsd:complexType>
         
         <xsd:complexType name="System.Connections.ConnectionArray">
            <xsd:complexContent>
               <xsd:restriction base='SOAP-ENC:Array'>
                  <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='zeusns:System.Connections.Connection[]'/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:simpleType name="System.Connections.ConnectionState">
           <xsd:annotation>
             <xsd:documentation>This enumeration defines the possible states for a particular connection.</xsd:documentation>
           </xsd:annotation>
           <xsd:restriction base="xsd:string">
             <xsd:enumeration value="reading_from_client">
               <xsd:annotation>
                  <xsd:documentation>Current connection: reading data from the client ('R').</xsd:documentation>
               </xsd:annotation>
             </xsd:enumeration>
             <xsd:enumeration value="writing_to_client">
               <xsd:annotation>
                  <xsd:documentation>Current connection: writing data to the client ('W').</xsd:documentation>
               </xsd:annotation>
             </xsd:enumeration>
             <xsd:enumeration value="executing_rule">
               <xsd:annotation>
                  <xsd:documentation>Current connection: executing rules against client request ('X').</xsd:documentation>
               </xsd:annotation>
             </xsd:enumeration>   
             <xsd:enumeration value="connecting_to_node">
               <xsd:annotation>
                  <xsd:documentation>Current connection: connecting to a node ('c').</xsd:documentation>
               </xsd:annotation>
             </xsd:enumeration> 
             <xsd:enumeration value="writing_to_node">
               <xsd:annotation>
                  <xsd:documentation>Current connection: writing data to a node ('w').</xsd:documentation>
               </xsd:annotation>
             </xsd:enumeration>  
             <xsd:enumeration value="reading_from_node">
               <xsd:annotation>
                  <xsd:documentation>Current connection: reading data from a node ('r').</xsd:documentation>
               </xsd:annotation>
             </xsd:enumeration> 
             <xsd:enumeration value="closing_client_connection">
               <xsd:annotation>
                  <xsd:documentation>Current connection: closing connection with client ('C').</xsd:documentation>
               </xsd:annotation>
             </xsd:enumeration>   
             <xsd:enumeration value="holding_client_connection">
               <xsd:annotation>
                  <xsd:documentation>Current connection: holding connection with client in keepalive state ('K').</xsd:documentation>
               </xsd:annotation>
             </xsd:enumeration>                     
             <xsd:enumeration value="recent_connection">
               <xsd:annotation>
                  <xsd:documentation>Recent connection that is no longer active. </xsd:documentation>
               </xsd:annotation>
             </xsd:enumeration>  
           </xsd:restriction>
         </xsd:simpleType>
      </xsd:schema>
   </types>
   
   <message name="getAllConnectionsRequest"></message>
   
   <message name="getAllConnectionsResponse">
      <part name="all_connections" type="zeusns:System.Connections.ConnectionArray" />
   </message>
   
   <portType name="System.ConnectionsPort">
      <operation name="getAllConnections">
         <documentation>
            Get a list of all connections, current and recent, for this machine.
         </documentation>
         
         <input message="zeusns:getAllConnectionsRequest"/>
         <output message="zeusns:getAllConnectionsResponse"/>
      </operation>
   </portType>
   
   <binding name="System.ConnectionsBinding" type="zeusns:System.ConnectionsPort">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="getAllConnections">
         <soap:operation soapAction="http://soap.zeus.com/zxtm/1.0/System/Connections/getAllConnections"/>
         <documentation>
            Get a list of all connections, current and recent, for this machine.
         </documentation>
         
         <input>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/Connections/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/Connections/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
   </binding>
   
   <service name="System.Connections">
      <documentation>
         The System.Connections interface provides information about the current and
                                        recent connections for this machine. Using this interface you can retrieve a list
                                        of all connections.
      </documentation>
      
      <port name="System.ConnectionsPort" binding="zeusns:System.ConnectionsBinding">
         <soap:address location="https://admin_server:9090/soap"/>
      </port>
   </service>
   
</definitions>
