hack/contrib/docker/chaos/plugins/lib/wsdl/System.MachineInfo.wsdl

<?xml version="1.0" ?>

<!--
    Copyright (c) 2005-2014 Zeus Technology. All rights reserved.

-->

<definitions name="System.MachineInfo"
 targetNamespace="http://soap.zeus.com/zxtm/1.0/"
 xmlns:zeusns="http://soap.zeus.com/zxtm/1.0/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">
   
   <types>
      <xsd:schema targetNamespace='http://soap.zeus.com/zxtm/1.0/'
       xmlns='http://www.w3.org/2001/XMLSchema'
       xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
       xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
         
         <xsd:complexType name="StringArray">
           <xsd:complexContent>
             <xsd:restriction base='SOAP-ENC:Array'>
              <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="StringArrayArray">
           <xsd:complexContent>
            <xsd:restriction base='SOAP-ENC:Array'>
             <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType="zeusns:StringArray[]"/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="System.MachineInfo.Machine">
           <xsd:annotation>
            <xsd:documentation>This structure contains information about a traffic manager in the cluster.</xsd:documentation>
           </xsd:annotation>
           <xsd:all>
           
             <xsd:element name="hostname" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>The hostname of this machine</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="ipaddress" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>The IP address of this machine.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
             
             <xsd:element name="admin_server" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>The URL of the admin server for this traffic manager.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
            <xsd:element name="zeushome" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>The install path of the traffic manager on this machine.</xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
         
           </xsd:all>
         </xsd:complexType>
         
         <xsd:complexType name="System.MachineInfo.MachineArray">
           <xsd:complexContent>
             <xsd:restriction base='SOAP-ENC:Array'>
              <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='zeusns:System.MachineInfo.Machine[]'/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="booleanArray">
           <xsd:complexContent>
            <xsd:restriction base='SOAP-ENC:Array'>
             <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:boolean[]'/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="booleanArrayArray">
           <xsd:complexContent>
            <xsd:restriction base='SOAP-ENC:Array'>
             <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType="zeusns:booleanArray[]"/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         
         <xsd:complexType name="doubleArray">
           <xsd:complexContent>
            <xsd:restriction base='SOAP-ENC:Array'>
             <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:double[]'/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="intArray">
           <xsd:complexContent>
            <xsd:restriction base='SOAP-ENC:Array'>
             <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:int[]'/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="longArray">
           <xsd:complexContent>
            <xsd:restriction base='SOAP-ENC:Array'>
             <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:long[]'/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="unsignedIntArray">
           <xsd:complexContent>
            <xsd:restriction base='SOAP-ENC:Array'>
             <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:unsignedInt[]'/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="unsignedLongArray">
           <xsd:complexContent>
            <xsd:restriction base='SOAP-ENC:Array'>
             <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:unsignedLong[]'/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
      </xsd:schema>
   </types>
   
   <message name="getAllClusterMachinesRequest"></message>
   
   <message name="getAllClusterMachinesResponse">
      <part name="machines" type="zeusns:System.MachineInfo.MachineArray" />
   </message>
   
   <message name="getIPAddressesRequest"></message>
   
   <message name="getIPAddressesResponse">
      <part name="ip_addresses" type="zeusns:StringArray" />
   </message>
   
   <message name="getMACAddressesRequest"></message>
   
   <message name="getMACAddressesResponse">
      <part name="mac_addresses" type="zeusns:StringArray" />
   </message>
   
   <message name="getProductVersionRequest"></message>
   
   <message name="getProductVersionResponse">
      <part name="version" type="xsd:string" />
   </message>
   
   <message name="getStingrayOSVersionRequest"></message>
   
   <message name="getStingrayOSVersionResponse">
      <part name="stingrayosversion" type="xsd:string" />
   </message>
   
   <message name="getTrafficManagerUptimeRequest"></message>
   
   <message name="getTrafficManagerUptimeResponse">
      <part name="uptime" type="xsd:unsignedInt" />
   </message>
   
   <message name="getZeusHomeRequest"></message>
   
   <message name="getZeusHomeResponse">
      <part name="zeushome" type="xsd:string" />
   </message>
   
   <message name="isIPv6EnabledRequest"></message>
   
   <message name="isIPv6EnabledResponse">
      <part name="ipv6enabled" type="xsd:boolean" />
   </message>
   
   <portType name="System.MachineInfoPort">
      <operation name="getAllClusterMachines">
         <documentation>
            Gets all of the machines in this traffic manager's cluster.
         </documentation>
         
         <input message="zeusns:getAllClusterMachinesRequest"/>
         <output message="zeusns:getAllClusterMachinesResponse"/>
      </operation>
      
      <operation name="getIPAddresses">
         <documentation>
            Get a list of IP addresses for this machine.
         </documentation>
         
         <input message="zeusns:getIPAddressesRequest"/>
         <output message="zeusns:getIPAddressesResponse"/>
      </operation>
      
      <operation name="getMACAddresses">
         <documentation>
            Get a list of MAC addresses for this machine.
         </documentation>
         
         <input message="zeusns:getMACAddressesRequest"/>
         <output message="zeusns:getMACAddressesResponse"/>
      </operation>
      
      <operation name="getProductVersion">
         <documentation>
            Get the traffic manager software version for this machine.
         </documentation>
         
         <input message="zeusns:getProductVersionRequest"/>
         <output message="zeusns:getProductVersionResponse"/>
      </operation>
      
      <operation name="getStingrayOSVersion">
         <documentation>
            Get the Stingray Operating System version for this appliance.
         </documentation>
         
         <input message="zeusns:getStingrayOSVersionRequest"/>
         <output message="zeusns:getStingrayOSVersionResponse"/>
      </operation>
      
      <operation name="getTrafficManagerUptime">
         <documentation>
            Get the time (in seconds) that the traffic manager has been running for.
         </documentation>
         
         <input message="zeusns:getTrafficManagerUptimeRequest"/>
         <output message="zeusns:getTrafficManagerUptimeResponse"/>
      </operation>
      
      <operation name="getZeusHome">
         <documentation>
            Get the install location of the traffic manager software (ZEUSHOME).
         </documentation>
         
         <input message="zeusns:getZeusHomeRequest"/>
         <output message="zeusns:getZeusHomeResponse"/>
      </operation>
      
      <operation name="isIPv6Enabled">
         <documentation>
            Check whether IPv6 is enabled on this system and supported by the traffic manager
         </documentation>
         
         <input message="zeusns:isIPv6EnabledRequest"/>
         <output message="zeusns:isIPv6EnabledResponse"/>
      </operation>
   </portType>
   
   <binding name="System.MachineInfoBinding" type="zeusns:System.MachineInfoPort">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="getAllClusterMachines">
         <soap:operation soapAction="http://soap.zeus.com/zxtm/1.0/System/MachineInfo/getAllClusterMachines"/>
         <documentation>
            Gets all of the machines in this traffic manager's cluster.
         </documentation>
         
         <input>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/MachineInfo/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/MachineInfo/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      
      <operation name="getIPAddresses">
         <soap:operation soapAction="http://soap.zeus.com/zxtm/1.0/System/MachineInfo/getIPAddresses"/>
         <documentation>
            Get a list of IP addresses for this machine.
         </documentation>
         
         <input>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/MachineInfo/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/MachineInfo/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      
      <operation name="getMACAddresses">
         <soap:operation soapAction="http://soap.zeus.com/zxtm/1.0/System/MachineInfo/getMACAddresses"/>
         <documentation>
            Get a list of MAC addresses for this machine.
         </documentation>
         
         <input>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/MachineInfo/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/MachineInfo/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      
      <operation name="getProductVersion">
         <soap:operation soapAction="http://soap.zeus.com/zxtm/1.0/System/MachineInfo/getProductVersion"/>
         <documentation>
            Get the traffic manager software version for this machine.
         </documentation>
         
         <input>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/MachineInfo/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/MachineInfo/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      
      <operation name="getStingrayOSVersion">
         <soap:operation soapAction="http://soap.zeus.com/zxtm/1.0/System/MachineInfo/getStingrayOSVersion"/>
         <documentation>
            Get the Stingray Operating System version for this appliance.
         </documentation>
         
         <input>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/MachineInfo/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/MachineInfo/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      
      <operation name="getTrafficManagerUptime">
         <soap:operation soapAction="http://soap.zeus.com/zxtm/1.0/System/MachineInfo/getTrafficManagerUptime"/>
         <documentation>
            Get the time (in seconds) that the traffic manager has been running for.
         </documentation>
         
         <input>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/MachineInfo/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/MachineInfo/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      
      <operation name="getZeusHome">
         <soap:operation soapAction="http://soap.zeus.com/zxtm/1.0/System/MachineInfo/getZeusHome"/>
         <documentation>
            Get the install location of the traffic manager software (ZEUSHOME).
         </documentation>
         
         <input>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/MachineInfo/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/MachineInfo/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      
      <operation name="isIPv6Enabled">
         <soap:operation soapAction="http://soap.zeus.com/zxtm/1.0/System/MachineInfo/isIPv6Enabled"/>
         <documentation>
            Check whether IPv6 is enabled on this system and supported by the traffic manager
         </documentation>
         
         <input>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/MachineInfo/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/MachineInfo/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
   </binding>
   
   <service name="System.MachineInfo">
      <documentation>
         The System.MachineInfo interface provides information about the IP addresses,
                                          MAC addresses and traffic manager software version for this machine.
      </documentation>
      
      <port name="System.MachineInfoPort" binding="zeusns:System.MachineInfoBinding">
         <soap:address location="https://admin_server:9090/soap"/>
      </port>
   </service>
   
</definitions>
