hack/contrib/docker/chaos/plugins/lib/wsdl/System.NAT.wsdl

<?xml version="1.0" ?>

<!--
    Copyright (c) 2005-2014 Zeus Technology. All rights reserved.

-->

<definitions name="System.NAT"
 targetNamespace="http://soap.zeus.com/zxtm/1.0/"
 xmlns:zeusns="http://soap.zeus.com/zxtm/1.0/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">
   
   <types>
      <xsd:schema targetNamespace='http://soap.zeus.com/zxtm/1.0/'
       xmlns='http://www.w3.org/2001/XMLSchema'
       xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
       xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
         
         <xsd:complexType name="StringArray">
           <xsd:complexContent>
             <xsd:restriction base='SOAP-ENC:Array'>
              <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="StringArrayArray">
           <xsd:complexContent>
            <xsd:restriction base='SOAP-ENC:Array'>
             <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType="zeusns:StringArray[]"/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="System.NAT.ManyToOneAllPortsRule">
           <xsd:annotation>
             <xsd:documentation>
                A list of config key value pairs for a many-to-one all-ports NAT rule
             </xsd:documentation>
           </xsd:annotation>
           <xsd:all>
         
             <xsd:element name="tipgroup" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>
                    The name of the TIP group this rule applies to
                 </xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="pool" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>
                    The name of the pool this rule filters on
                 </xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
           </xsd:all>
         </xsd:complexType>
         
         <xsd:complexType name="System.NAT.ManyToOneAllPortsRuleArray">
           <xsd:complexContent>
             <xsd:restriction base='SOAP-ENC:Array'>
               <xsd:attribute ref='SOAP-ENC:arrayType' 
                  wsdl:arrayType='zeusns:System.NAT.ManyToOneAllPortsRule[]'/>
             </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="System.NAT.ManyToOnePortLockedRule">
           <xsd:annotation>
             <xsd:documentation>
                A list of config key value pairs for a many-to-one port-locked NAT rule
             </xsd:documentation>
           </xsd:annotation>
           <xsd:all>
         
             <xsd:element name="tipgroup" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>
                    The name of the TIP group this rule applies to
                 </xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="pool" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>
                    The name of the pool this rule filters on
                 </xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
            <xsd:element name="protocol" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>
                    The protocol this rule applies to (TCP, UDP, etc.)
                 </xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
            <xsd:element name="port" type="xsd:int">
               <xsd:annotation>
                 <xsd:documentation>
                    The port number this rule applies to
                 </xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
           </xsd:all>
         </xsd:complexType>
         
         <xsd:complexType name="System.NAT.ManyToOnePortLockedRuleArray">
           <xsd:complexContent>
             <xsd:restriction base='SOAP-ENC:Array'>
               <xsd:attribute ref='SOAP-ENC:arrayType' 
                  wsdl:arrayType='zeusns:System.NAT.ManyToOnePortLockedRule[]'/>
             </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="System.NAT.OneToOneRule">
           <xsd:annotation>
             <xsd:documentation>
                A list of config key value pairs for a One To One NAT rule
             </xsd:documentation>
           </xsd:annotation>
           <xsd:all>
         
             <xsd:element name="tipgroup" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>
                    The name of the TIP group this rule applies to
                 </xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="ip" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>
                    The name of the IP address this rule filters on
                 </xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
            <xsd:element name="inbound" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>
                    Whether or not this rule has an associated inbound rule
                 </xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
           </xsd:all>
         </xsd:complexType>
         
         <xsd:complexType name="System.NAT.OneToOneRuleArray">
           <xsd:complexContent>
             <xsd:restriction base='SOAP-ENC:Array'>
               <xsd:attribute ref='SOAP-ENC:arrayType' 
                  wsdl:arrayType='zeusns:System.NAT.OneToOneRule[]'/>
             </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="System.NAT.PortMappingRule">
           <xsd:annotation>
             <xsd:documentation>
                A list of config key value pairs for a Port Mapping NAT rule
             </xsd:documentation>
           </xsd:annotation>
           <xsd:all>
         
             <xsd:element name="virtualserver" type="xsd:string">
               <xsd:annotation>
                 <xsd:documentation>
                    The name of the virtualserver this rule applies to
                 </xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
             <xsd:element name="first" type="xsd:int">
               <xsd:annotation>
                 <xsd:documentation>
                    The first port in the port range the virtual server will now listen on
                 </xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
            <xsd:element name="last" type="xsd:int">
               <xsd:annotation>
                 <xsd:documentation>
                    The last port in the port range the virtual server will now listen on
                 </xsd:documentation>
               </xsd:annotation>
             </xsd:element>
         
           </xsd:all>
         </xsd:complexType>
         
         <xsd:complexType name="System.NAT.PortMappingRuleArray">
           <xsd:complexContent>
             <xsd:restriction base='SOAP-ENC:Array'>
               <xsd:attribute ref='SOAP-ENC:arrayType' 
                  wsdl:arrayType='zeusns:System.NAT.PortMappingRule[]'/>
             </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="booleanArray">
           <xsd:complexContent>
            <xsd:restriction base='SOAP-ENC:Array'>
             <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:boolean[]'/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="booleanArrayArray">
           <xsd:complexContent>
            <xsd:restriction base='SOAP-ENC:Array'>
             <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType="zeusns:booleanArray[]"/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         
         <xsd:complexType name="doubleArray">
           <xsd:complexContent>
            <xsd:restriction base='SOAP-ENC:Array'>
             <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:double[]'/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="intArray">
           <xsd:complexContent>
            <xsd:restriction base='SOAP-ENC:Array'>
             <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:int[]'/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="longArray">
           <xsd:complexContent>
            <xsd:restriction base='SOAP-ENC:Array'>
             <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:long[]'/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="unsignedIntArray">
           <xsd:complexContent>
            <xsd:restriction base='SOAP-ENC:Array'>
             <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:unsignedInt[]'/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="unsignedLongArray">
           <xsd:complexContent>
            <xsd:restriction base='SOAP-ENC:Array'>
             <xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:unsignedLong[]'/>
            </xsd:restriction>
           </xsd:complexContent>
         </xsd:complexType>
         
         <xsd:complexType name="InvalidInput">
           <xsd:annotation>
            <xsd:documentation>
              The InvalidInput fault is raised when the input to a function is
              invalid, for example a number was out of range. This fault is also
              raised in cases such as VirtualServer.setPool() where the Pool
              doesn't exist
         
              The details in the fault contain the object, key and value
              that caused the fault. These might be blank if they are not relevant
              to the fault.
            </xsd:documentation>
           </xsd:annotation>
           <xsd:all>
             <xsd:element name="errmsg" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>
                  A human readable string describing the error
                </xsd:documentation>
              </xsd:annotation>
             </xsd:element>
             <xsd:element name="object" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>
                  The name of the object that caused the fault (if appropriate)
                </xsd:documentation>
              </xsd:annotation>
             </xsd:element>
             <xsd:element name="key" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>
                  The configuration key that caused the fault (if appropriate)
                </xsd:documentation>
              </xsd:annotation>
             </xsd:element>
             <xsd:element name="value" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>
                  The value that caused the fault (if appropriate)
                </xsd:documentation>
              </xsd:annotation>
             </xsd:element>
           </xsd:all>
         </xsd:complexType>
         
         <xsd:complexType name="ObjectDoesNotExist">
           <xsd:annotation>
            <xsd:documentation>
             The ObjectDoesNotExist fault is raised when attempting to perform an
             operation on an object (such as Virtual Server) that doesn't exist.
         
             This fault will only be raised if the primary object in the call doesn't
             exist. For example if calling VirtualServer.setPool(), then
             this fault will be raised if the Virtual Server doesn't exist, but if
             the Pool doesn't exist then the "InvalidInput" fault will be raised.
            </xsd:documentation>
           </xsd:annotation>
           <xsd:all>
             <xsd:element name="errmsg" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>
                  A human readable string describing the error
                </xsd:documentation>
              </xsd:annotation>
             </xsd:element>
             <xsd:element name="object" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>
                  The name of the object that caused the fault
                </xsd:documentation>
               </xsd:annotation>
             </xsd:element>
           </xsd:all>
         </xsd:complexType>
      </xsd:schema>
   </types>
   
   <message name="addManyToOneAllPortsRequest">
      <part name="all_ports_data" type="zeusns:System.NAT.ManyToOneAllPortsRuleArray" />
   </message>
   
   <message name="addManyToOneAllPortsResponse"></message>
   
   <message name="addManyToOnePortLockedRequest">
      <part name="port_locked_data" type="zeusns:System.NAT.ManyToOnePortLockedRuleArray" />
   </message>
   
   <message name="addManyToOnePortLockedResponse"></message>
   
   <message name="addOneToOneRequest">
      <part name="one_to_one_data" type="zeusns:System.NAT.OneToOneRuleArray" />
   </message>
   
   <message name="addOneToOneResponse"></message>
   
   <message name="addPortMappingRequest">
      <part name="port_mapping_data" type="zeusns:System.NAT.PortMappingRuleArray" />
   </message>
   
   <message name="addPortMappingResponse"></message>
   
   <message name="getManyToOneAllPortsListRequest"></message>
   
   <message name="getManyToOneAllPortsListResponse">
      <part name="many_to_one_all_ports" type="zeusns:System.NAT.ManyToOneAllPortsRuleArray" />
   </message>
   
   <message name="getManyToOnePortLockedListRequest"></message>
   
   <message name="getManyToOnePortLockedListResponse">
      <part name="many_to_one_port_locked" type="zeusns:System.NAT.ManyToOnePortLockedRuleArray" />
   </message>
   
   <message name="getOneToOneListRequest"></message>
   
   <message name="getOneToOneListResponse">
      <part name="one_to_one" type="zeusns:System.NAT.OneToOneRuleArray" />
   </message>
   
   <message name="getPortMappingListRequest"></message>
   
   <message name="getPortMappingListResponse">
      <part name="port_mapping" type="zeusns:System.NAT.PortMappingRuleArray" />
   </message>
   
   <message name="removeManyToOneAllPortsRequest">
      <part name="all_ports_data" type="zeusns:System.NAT.ManyToOneAllPortsRuleArray" />
   </message>
   
   <message name="removeManyToOneAllPortsResponse"></message>
   
   <message name="removeManyToOnePortLockedRequest">
      <part name="port_locked_data" type="zeusns:System.NAT.ManyToOnePortLockedRuleArray" />
   </message>
   
   <message name="removeManyToOnePortLockedResponse"></message>
   
   <message name="removeOneToOneRequest">
      <part name="one_to_one" type="zeusns:System.NAT.OneToOneRuleArray" />
   </message>
   
   <message name="removeOneToOneResponse"></message>
   
   <message name="removePortMappingRequest">
      <part name="port_mapping_data" type="zeusns:System.NAT.PortMappingRuleArray" />
   </message>
   
   <message name="removePortMappingResponse"></message>
   
   <message name="InvalidInput">
      <part name="parameters" type="zeusns:InvalidInput" />
   </message>
   
   <message name="ObjectDoesNotExist">
      <part name="parameters" type="zeusns:ObjectDoesNotExist" />
   </message>
   
   <portType name="System.NATPort">
      <operation name="addManyToOneAllPorts">
         <documentation>
            Add a many-to-one all-ports NAT rule
         </documentation>
         
         <input message="zeusns:addManyToOneAllPortsRequest"/>
         <output message="zeusns:addManyToOneAllPortsResponse"/>
         <fault name="InvalidInput" message="zeusns:InvalidInput"/>
         <fault name="ObjectDoesNotExist" message="zeusns:ObjectDoesNotExist"/>
      </operation>
      
      <operation name="addManyToOnePortLocked">
         <documentation>
            Add a many-to-one port locked NAT rule
         </documentation>
         
         <input message="zeusns:addManyToOnePortLockedRequest"/>
         <output message="zeusns:addManyToOnePortLockedResponse"/>
         <fault name="InvalidInput" message="zeusns:InvalidInput"/>
         <fault name="ObjectDoesNotExist" message="zeusns:ObjectDoesNotExist"/>
      </operation>
      
      <operation name="addOneToOne">
         <documentation>
            Add a one-to-one NAT rule
         </documentation>
         
         <input message="zeusns:addOneToOneRequest"/>
         <output message="zeusns:addOneToOneResponse"/>
         <fault name="InvalidInput" message="zeusns:InvalidInput"/>
         <fault name="ObjectDoesNotExist" message="zeusns:ObjectDoesNotExist"/>
      </operation>
      
      <operation name="addPortMapping">
         <documentation>
            Add a port mapping rule for a virtual server
         </documentation>
         
         <input message="zeusns:addPortMappingRequest"/>
         <output message="zeusns:addPortMappingResponse"/>
         <fault name="InvalidInput" message="zeusns:InvalidInput"/>
         <fault name="ObjectDoesNotExist" message="zeusns:ObjectDoesNotExist"/>
      </operation>
      
      <operation name="getManyToOneAllPortsList">
         <documentation>
            Get a list of the many-to-one all-ports NAT rules
         </documentation>
         
         <input message="zeusns:getManyToOneAllPortsListRequest"/>
         <output message="zeusns:getManyToOneAllPortsListResponse"/>
      </operation>
      
      <operation name="getManyToOnePortLockedList">
         <documentation>
            Get a list of the many-to-one port-locked NAT rules
         </documentation>
         
         <input message="zeusns:getManyToOnePortLockedListRequest"/>
         <output message="zeusns:getManyToOnePortLockedListResponse"/>
      </operation>
      
      <operation name="getOneToOneList">
         <documentation>
            Get a list of the one-to-one NAT rules
         </documentation>
         
         <input message="zeusns:getOneToOneListRequest"/>
         <output message="zeusns:getOneToOneListResponse"/>
      </operation>
      
      <operation name="getPortMappingList">
         <documentation>
            Get a list of the port mapping NAT rules
         </documentation>
         
         <input message="zeusns:getPortMappingListRequest"/>
         <output message="zeusns:getPortMappingListResponse"/>
      </operation>
      
      <operation name="removeManyToOneAllPorts">
         <documentation>
            Remove a many-to-one all-ports rule matching the rule provided
         </documentation>
         
         <input message="zeusns:removeManyToOneAllPortsRequest"/>
         <output message="zeusns:removeManyToOneAllPortsResponse"/>
         <fault name="InvalidInput" message="zeusns:InvalidInput"/>
         <fault name="ObjectDoesNotExist" message="zeusns:ObjectDoesNotExist"/>
      </operation>
      
      <operation name="removeManyToOnePortLocked">
         <documentation>
            Remove a many-to-one port-locked rule matching the rule provided
         </documentation>
         
         <input message="zeusns:removeManyToOnePortLockedRequest"/>
         <output message="zeusns:removeManyToOnePortLockedResponse"/>
         <fault name="InvalidInput" message="zeusns:InvalidInput"/>
         <fault name="ObjectDoesNotExist" message="zeusns:ObjectDoesNotExist"/>
      </operation>
      
      <operation name="removeOneToOne">
         <documentation>
            Remove a one-to-one rule matching the rule provided
         </documentation>
         
         <input message="zeusns:removeOneToOneRequest"/>
         <output message="zeusns:removeOneToOneResponse"/>
         <fault name="InvalidInput" message="zeusns:InvalidInput"/>
         <fault name="ObjectDoesNotExist" message="zeusns:ObjectDoesNotExist"/>
      </operation>
      
      <operation name="removePortMapping">
         <documentation>
            Remove a port mapping rule matching the rule provided
         </documentation>
         
         <input message="zeusns:removePortMappingRequest"/>
         <output message="zeusns:removePortMappingResponse"/>
         <fault name="InvalidInput" message="zeusns:InvalidInput"/>
         <fault name="ObjectDoesNotExist" message="zeusns:ObjectDoesNotExist"/>
      </operation>
   </portType>
   
   <binding name="System.NATBinding" type="zeusns:System.NATPort">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="addManyToOneAllPorts">
         <soap:operation soapAction="http://soap.zeus.com/zxtm/1.0/System/NAT/addManyToOneAllPorts"/>
         <documentation>
            Add a many-to-one all-ports NAT rule
         </documentation>
         
         <input>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
         <fault name="InvalidInput">
            <soap:fault use="encoded" name="InvalidInput" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </fault>
         <fault name="ObjectDoesNotExist">
            <soap:fault use="encoded" name="ObjectDoesNotExist" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </fault>
      </operation>
      
      <operation name="addManyToOnePortLocked">
         <soap:operation soapAction="http://soap.zeus.com/zxtm/1.0/System/NAT/addManyToOnePortLocked"/>
         <documentation>
            Add a many-to-one port locked NAT rule
         </documentation>
         
         <input>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
         <fault name="InvalidInput">
            <soap:fault use="encoded" name="InvalidInput" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </fault>
         <fault name="ObjectDoesNotExist">
            <soap:fault use="encoded" name="ObjectDoesNotExist" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </fault>
      </operation>
      
      <operation name="addOneToOne">
         <soap:operation soapAction="http://soap.zeus.com/zxtm/1.0/System/NAT/addOneToOne"/>
         <documentation>
            Add a one-to-one NAT rule
         </documentation>
         
         <input>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
         <fault name="InvalidInput">
            <soap:fault use="encoded" name="InvalidInput" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </fault>
         <fault name="ObjectDoesNotExist">
            <soap:fault use="encoded" name="ObjectDoesNotExist" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </fault>
      </operation>
      
      <operation name="addPortMapping">
         <soap:operation soapAction="http://soap.zeus.com/zxtm/1.0/System/NAT/addPortMapping"/>
         <documentation>
            Add a port mapping rule for a virtual server
         </documentation>
         
         <input>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
         <fault name="InvalidInput">
            <soap:fault use="encoded" name="InvalidInput" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </fault>
         <fault name="ObjectDoesNotExist">
            <soap:fault use="encoded" name="ObjectDoesNotExist" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </fault>
      </operation>
      
      <operation name="getManyToOneAllPortsList">
         <soap:operation soapAction="http://soap.zeus.com/zxtm/1.0/System/NAT/getManyToOneAllPortsList"/>
         <documentation>
            Get a list of the many-to-one all-ports NAT rules
         </documentation>
         
         <input>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      
      <operation name="getManyToOnePortLockedList">
         <soap:operation soapAction="http://soap.zeus.com/zxtm/1.0/System/NAT/getManyToOnePortLockedList"/>
         <documentation>
            Get a list of the many-to-one port-locked NAT rules
         </documentation>
         
         <input>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      
      <operation name="getOneToOneList">
         <soap:operation soapAction="http://soap.zeus.com/zxtm/1.0/System/NAT/getOneToOneList"/>
         <documentation>
            Get a list of the one-to-one NAT rules
         </documentation>
         
         <input>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      
      <operation name="getPortMappingList">
         <soap:operation soapAction="http://soap.zeus.com/zxtm/1.0/System/NAT/getPortMappingList"/>
         <documentation>
            Get a list of the port mapping NAT rules
         </documentation>
         
         <input>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      
      <operation name="removeManyToOneAllPorts">
         <soap:operation soapAction="http://soap.zeus.com/zxtm/1.0/System/NAT/removeManyToOneAllPorts"/>
         <documentation>
            Remove a many-to-one all-ports rule matching the rule provided
         </documentation>
         
         <input>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
         <fault name="InvalidInput">
            <soap:fault use="encoded" name="InvalidInput" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </fault>
         <fault name="ObjectDoesNotExist">
            <soap:fault use="encoded" name="ObjectDoesNotExist" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </fault>
      </operation>
      
      <operation name="removeManyToOnePortLocked">
         <soap:operation soapAction="http://soap.zeus.com/zxtm/1.0/System/NAT/removeManyToOnePortLocked"/>
         <documentation>
            Remove a many-to-one port-locked rule matching the rule provided
         </documentation>
         
         <input>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
         <fault name="InvalidInput">
            <soap:fault use="encoded" name="InvalidInput" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </fault>
         <fault name="ObjectDoesNotExist">
            <soap:fault use="encoded" name="ObjectDoesNotExist" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </fault>
      </operation>
      
      <operation name="removeOneToOne">
         <soap:operation soapAction="http://soap.zeus.com/zxtm/1.0/System/NAT/removeOneToOne"/>
         <documentation>
            Remove a one-to-one rule matching the rule provided
         </documentation>
         
         <input>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
         <fault name="InvalidInput">
            <soap:fault use="encoded" name="InvalidInput" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </fault>
         <fault name="ObjectDoesNotExist">
            <soap:fault use="encoded" name="ObjectDoesNotExist" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </fault>
      </operation>
      
      <operation name="removePortMapping">
         <soap:operation soapAction="http://soap.zeus.com/zxtm/1.0/System/NAT/removePortMapping"/>
         <documentation>
            Remove a port mapping rule matching the rule provided
         </documentation>
         
         <input>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
         <fault name="InvalidInput">
            <soap:fault use="encoded" name="InvalidInput" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </fault>
         <fault name="ObjectDoesNotExist">
            <soap:fault use="encoded" name="ObjectDoesNotExist" namespace="http://soap.zeus.com/zxtm/1.0/System/NAT/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </fault>
      </operation>
   </binding>
   
   <service name="System.NAT">
      <documentation>
         The NAT interface allows management of custom NAT rules. Using this interface, you can create, delete and view custom NAT rules.
      </documentation>
      
      <port name="System.NATPort" binding="zeusns:System.NATBinding">
         <soap:address location="https://admin_server:9090/soap"/>
      </port>
   </service>
   
</definitions>
